<ul class="whitespace-normal w-full list-[square] px-4">
  <% note.checklist_items.fetch(:crits).each do |todo| %>
    <li class="font-bold"><%= todo.fetch(:line) %> [<%= todo.fetch(:number) %>]</li>
  <% end %>
</ul>

<ul class="whitespace-normal w-full list-[square] px-4">
  <% note.checklist_items.fetch(:todos).each do |todo| %>
    <li class=""><%= todo.fetch(:line) %> [<%= todo.fetch(:number) %>]</li>
  <% end %>
</ul>


<% if note.checklist_items.fetch(:dones).count > 0 %>
  <details class="cursor-pointer">
    <summary>Done Items</summary>
    <ul class="whitespace-normal w-full list-[square] px-4 mx-5">
      <% note.checklist_items.fetch(:dones).each do |todo| %>
        <li class="line-through"><%= todo.fetch(:line) %> [<%= todo.fetch(:number) %>]</li>
      <% end %>
    </ul>
  </details>
<% end %>
