<div>
  <%= turbo_frame_tag 'calendar' do %>
    <%= month_calendar do |date| %>
      <%= date.mday %>
    <% end %>
  <% end %>
</div>

<div class="prose lg:prose-xl">
  <h1><%= @note.date %></h1>

  <p><%= @note.body %></p>

  <%= render "form", note: @note%>
</div>
