<div class="simple-calendar">
  <div class="grid grid-cols-7">
    <% date_range.slice(0, 7).each do |day| %>
      <div class="text-center"><%= t('date.abbr_day_names')[day.wday] %></div>
    <% end %>

    <% date_range.each_slice(7) do |week| %>
      <% week.each do |day| %>
        <%= content_tag :div, class: calendar.td_classes_for(day) do %>
          <% passed_block.call day, sorted_events.fetch(day, []) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="calendar-heading grid grid-cols-2">
    <div>
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
      <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, data: { turbo_frame: '_top' } %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
    </div>
    <span class="calendar-title text-right"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
  </div>

</div>
